@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@300;400&family=Permanent+Marker&display=swap');
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    width: 100vw;
    min-height: auto;
    background-color: #F0FBFF;
    color: rgb(27, 27, 27);
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 5rem;
    background-color: #F0FBFF;
    z-index: 9;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    font-weight: bold;
}

.header-links {
    margin-right: 1rem;
}

.header-links a {
    margin-right: 2rem;
    text-decoration: none;
    color: black;
    letter-spacing: 3px;
    font-weight: bold;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text {
    margin-left: 1rem;
}

.name-title {
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    font-size: 40px;
    color: #00A2EE;
    cursor: pointer;
    display: flex;
    margin-left: 2rem;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 2px;
}

.name-title a {
    text-decoration: none;
}

.main-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 900px;
    width: 100vw;
}

.big-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30rem;
    width: 50rem;
}

.big-logo .view-work-button {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 9;
    padding-top: 28rem;
}

.big-logo .view-work-button button {
    width: 15rem;
}

.view-button {
    padding: 15px 25px;
    border: 1px solid #00A2EE;
    border-radius: 5px;
    color: #00A2EE;
    letter-spacing: 3px;
    z-index: 1;
    background: transparent;
    position: relative;
    font-weight: bold;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
    letter-spacing: 3px;
}

.view-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: #00A2EE;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.view-button:hover {
    color: #F0FBFF;
}

.view-button:hover::before {
    width: 100%;
}

.big-logo h1 {
    display: flex;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 2px;
    font-size: 12rem;
    color: #00A2EE;
    margin: 0;
    padding: 0;
    z-index: 4;
    padding-left: 1rem;
}

.big-logo h1 {
    animation: fadeInDown;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.big-logo .seperator {
    border-radius: 3px;
    height: .5rem;
    width: 30rem;
    position: absolute;
    margin-top: 8.5rem;
    margin-right: 1rem;
    background-color: #25E8B3;
}

.big-logo p {
    animation: fadeInUp;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.big-logo p {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 3px;
    width: 40rem;
    padding: 0;
    z-index: 4;
}

.big-logo a {
    position: absolute;
    margin-top: 55%;
}

.big-logo a {
    animation: fadeInUp;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
}

.socials a {
    margin-bottom: .2rem;
    cursor: pointer;
}

.socials p {
    letter-spacing: 3px;
    font-size: .8rem;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
}

.skills img {
    padding-bottom: .2rem;
}

.skills p {
    letter-spacing: 3px;
    font-size: .8rem;
}


/*This is the styling for the projects page*/

.projects-page {
    width: 100vw;
    height: 3000px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #313131;
    /*clip-path: polygon(0% 0%, 100% 200px, 100% 100%, 0% calc(100% - 0px));*/
}

.projects-page .pro {
    color: #F0FBFF;
    font-size: 2.5rem;
    letter-spacing: 3px;
    width: 100vw;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    z-index: 8;
}

.project-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    margin-top: 10rem;
}

.project-info .para {
    margin-left: 10rem;
    margin-top: 4rem;
    position: absolute;
    font-weight: bold;
    font-size: 7rem;
    color: #313131;
    z-index: 7;
    background-color: #00A2EE;
    height: 2rem;
    width: 20rem;
    border-radius: 3px;
}

.project-one {
    width: 100vw;
    height: 900px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0rem;
}

.project-image {
    margin-top: 5rem;
    width: 50rem;
    height: 35rem;
    border-radius: 0px 5px 5px 0px;
    background-color: #00A2EE;
    display: flex;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-left: none;
}

.project-view {
    width: 40rem;
    height: 25rem;
    border-radius: 0px 5px 5px 0px;
    background-color: #00A2EE;
    overflow: hidden;
    border-left: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.project-view img {
    background-size: cover;
    width: 40rem;
}

.project-description {
    width: 32rem;
    height: 29rem;
    border-radius: 5px 5px 5px 5px;
    background-color: #F0FBFF;
    color: #313131;
    z-index: 8;
    margin-left: 45rem;
    margin-bottom: 9rem;
    position: absolute;
    padding-left: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.project-description img {
    margin-top: 1rem;
}

.project-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    letter-spacing: 3px;
}

.project-explained {
    font-size: 1.5rem;
    width: 30rem;
}

.project-two {
    width: 100vw;
    height: 900px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0rem;
    overflow: visible;
}

.project-description2 {
    width: 32rem;
    height: 29rem;
    border-radius: 5px 5px 5px 5px;
    background-color: #F0FBFF;
    color: #313131;
    z-index: 8;
    margin-right: 45rem;
    margin-bottom: 4rem;
    position: absolute;
    padding-left: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.project-description2 img {
    margin-top: 1rem;
}

.project-image2 {
    margin-top: 5rem;
    width: 50rem;
    height: 35rem;
    border-radius: 5px 0px 0px 5px;
    background-color: #00A2EE;
    display: flex;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-left: none;
}

.project-view2 {
    width: 40rem;
    height: 25rem;
    border-radius: 5px 0px 0px 5px;
    background-color: #25E8B3;
    overflow: hidden;
    border-right: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-left: 10rem;
}

.project-view2 img {
    background-size: cover;
    width: 40rem;
}

.live-button {
    padding: 15px 25px;
    border: 1px solid #00A2EE;
    border-radius: 5px;
    color: #00A2EE;
    letter-spacing: 3px;
    z-index: 1;
    background: transparent;
    position: relative;
    font-weight: bold;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: #00A2EE;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

button:hover {
    color: #F0FBFF;
}

button:hover::before {
    width: 100%;
}

.learn-button {
    padding: 15px 25px;
    border: 1px solid #00A2EE;
    border-radius: 5px;
    color: #00A2EE;
    letter-spacing: 3px;
    z-index: 1;
    background: transparent;
    position: relative;
    font-weight: bold;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
    margin-left: 1.5rem;
}

.about-page {
    width: 100vw;
    height: 900px;
    background-color: #F0FBFF;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-page .pro {
    color: #313131;
    font-size: 2.5rem;
    letter-spacing: 3px;
    width: 100vw;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    z-index: 8;
}

.about-page .project-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    margin-bottom: 50rem;
    position: absolute;
}

.about-page .project-info .para {
    margin-left: 10rem;
    margin-top: 4rem;
    position: absolute;
    font-weight: bold;
    font-size: 7rem;
    color: #313131;
    z-index: 7;
    background-color: #00A2EE;
    height: 2rem;
    width: 20rem;
    border-radius: 3px;
}

.about-page .social-card {
    width: 65rem;
    height: 34rem;
    background-color: #F0FBFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15rem;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow: hidden;
    z-index: 8;
}

.social-card .about-description {
    width: 35rem;
    margin-left: 1.5rem;
}

.about-description .socials2 {
    margin-bottom: 4rem;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.socials2 a {
    margin-right: 1rem;
    padding-bottom: 4rem;
}

.resume-button {
    padding: 15px 25px;
    border: 1px solid #00A2EE;
    border-radius: 5px;
    color: #00A2EE;
    letter-spacing: 3px;
    z-index: 1;
    background: transparent;
    position: relative;
    font-weight: bold;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0rem;
    width: 10rem;
}

.resume-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: #00A2EE;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.resume-button:hover {
    color: #F0FBFF;
}

.resume-button:hover::before {
    width: 100%;
}

.about-description .description-title {
    padding-top: 5rem;
    font-size: 3rem;
    letter-spacing: 3px;
}

.about-description .description-para {
    font-size: 1.5rem;
}

.about-page .skills2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    padding-bottom: 1rem;
}

.skills2 img {
    margin-right: .5rem;
}

.skills2 p {
    margin-right: 1.5rem;
    font-weight: bold;
}

.contact-page {
    width: 100vw;
    height: 900px;
    background-color: #313131;
    margin: 0;
    /*clip-path: polygon(0% 0%, 100% 200px, 100% 100%, 0% calc(100% - 0px));*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-page .pro {
    color: #F0FBFF;
    font-size: 2.5rem;
    letter-spacing: 3px;
    width: 100vw;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    z-index: 8;
}

.contact-page .project-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    margin-bottom: 50rem;
    position: absolute;
}

.project-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20rem;
    margin-top: 10rem;
}

.project-info .para {
    margin-left: 10rem;
    margin-top: 4rem;
    position: absolute;
    font-weight: bold;
    font-size: 7rem;
    color: #313131;
    z-index: 7;
    background-color: #00A2EE;
    height: 2rem;
    width: 20rem;
    border-radius: 3px;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F0FBFF;
    height: 38rem;
    width: 65rem;
    border-radius: 3px;
    margin-top: 10rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.contact-form header {
    color: #313131;
    font-size: 1.7rem;
    width: 40rem;
    text-align: center;
}

.contact-form .message .field {
    height: 10rem;
}

.contact-form .field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 3rem;
    border-radius: 3px;
    border: none;
    margin: 1rem;
    font-size: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.send-button {
    padding: 15px 25px;
    border: 1px solid #00A2EE;
    border-radius: 5px;
    color: #F0FBFF;
    letter-spacing: 3px;
    z-index: 1;
    background: #00A2EE;
    position: relative;
    font-weight: bold;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
    margin-left: 1.5rem;
}

.send-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: #25E8B3;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.send-button:hover {
    color: #F0FBFF;
}

.send-button:hover::before {
    width: 100%;
}

footer {
    width: 100vw;
    height: 15rem;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div {
    color: #F0FBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 15rem;
}

.footer-div p {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-div .top {
    position: absolute;
    margin-bottom: 15rem;
    margin-right: 2rem;
}

.footer-div a {
    color: #F0FBFF;
    text-decoration: none;
}

.top-button {
    padding: 15px 25px;
    border: 1px solid #00A2EE;
    border-radius: 5px;
    color: #F0FBFF;
    letter-spacing: 3px;
    z-index: 1;
    background: #00A2EE;
    position: relative;
    font-weight: bold;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
    margin-left: 1.5rem;
}

.top-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: #25E8B3;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

.top-button:hover {
    color: #F0FBFF;
}

.top-button:hover::before {
    width: 100%;
}